:root {
  --bs-body-bg: #ccd5ae;
  --bs-secondary-bg: #e9edc9;
  --bs-secondary-bg-rgb: 232, 237, 201;
  --bs-tertiary-bg: #fefae0;
  --bs-tertiary-bg-rgb: 254, 250, 224;
}

.btn {
  --bs-btn-bg: #d4a373;
  --bs-btn-hover-bg: #faedcd;
}